.root{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    table{
        border: 1px solid black;

        thead{
            position: sticky;
            top:0;
            background-color: aquamarine;
        }

        td{
            border: 1px red solid;
            text-align: center;
        }
    }
}