.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: orange;

  .container {
    display: flex;
    height: 75%;
    width: 50%;
    background-color: green;
    justify-content: center;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
      border: 1px solid black;

      img{
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
      border: 1px solid black;

      button{
        padding: 0.2rem;
        box-sizing: border-box;
        width: 20%;
      }
    }
  }
}
