.root{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: center;
    margin-bottom: 5px;
    .task{
        font-size: 1.5rem;
        color: rgb(72, 0, 255);
    }
    button{
        align-self: center;
        background-color: red;
        color: white;
        font-weight: bold;
        border-radius: 8px;
    }
}